body{

margin:0;
background:#05070d;

display:flex;
justify-content:center;

font-family:Montserrat;

}

.poster{

width:430px;

background:#05070d;

min-height:100vh;

padding:25px;

box-sizing:border-box;

}

.hero{

width:100%;

height:320px;

overflow:hidden;

border-radius:220px 220px 0 0;

border:2px solid #b88a3d;

}

.heroPhoto{

width:100%;

height:100%;

object-fit:cover;

}

.name1{

text-align:center;

color:white;

font-family:Cinzel;

font-size:55px;

margin-top:25px;

margin-bottom:0;

}

.lastname1{

text-align:center;

font-family:Great Vibes;

color:#c7903e;

font-size:52px;

margin-top:-10px;

font-weight:400;

}

.and{

text-align:center;

font-size:52px;

color:#c7903e;

font-family:Great Vibes;

margin-top:-25px;

}

.name2{

text-align:center;

color:white;

font-family:Cinzel;

font-size:55px;

margin-top:-5px;

margin-bottom:0;

}

.lastname2{

text-align:center;

font-family:Great Vibes;

font-size:52px;

font-weight:400;

margin-top:-10px;

color:#c7903e;

}

.subtitle{

text-align:center;

letter-spacing:8px;

margin-top:20px;

color:white;

font-size:20px;

}

.date{

margin:35px auto;

width:340px;

text-align:center;

padding:12px;

border:2px solid #b88a3d;

border-radius:10px;

color:white;

font-family:Cinzel;

font-size:20px;

}
